In [3]:
"""
날짜 : 2023/01/13
이름 : 조광호
내용 : 파이썬 데이터베이스 프로그래밍 실습하기
"""
import pymysql

In [ ]:
# Insert 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        password='1234', 
                        db='java2db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "insert into `user3` values ('a401', '노왕짱', '010-9253-9512', '26')"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Insert 완료...')

In [ ]:
# Update 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        password='1234', 
                        db='java2db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "UPDATE `user3` SET "
sql += "`name`='홍길동',"
sql += "`hp`='010-2939-2222',"
sql += "`age`=25 "
sql += "WHERE `uid`='a301'"

cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('update 완료...')

In [ ]:
# DELETE 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        password='1234', 
                        db='java2db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
cur.execute("delete from `user3` where `uid` = 'a301'")
conn.commit()

# 데이터베이스 종료
conn.close()
print('Delete 완료...')

In [12]:
# select 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        password='1234', 
                        db='java2db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
cur.execute("select * from `user3`")
conn.commit()
# 결과출력
users = []

for row in cur.fetchall():
    print('--------------------')
    print('아이디 : ', row[0])
    print('이름 : ', row[1])
    print('휴대폰 : ', row[2])
    print('나이 : ', row[3])
    print('-------------------')

# 데이터베이스 종료
conn.close()
print('select 완료...')

--------------------
아이디 :  a101
이름 :  김유신
휴대폰 :  010-1234-1001
나이 :  25
-------------------
--------------------
아이디 :  a102
이름 :  김춘추
휴대폰 :  010-1234-1002
나이 :  23
-------------------
--------------------
아이디 :  a103
이름 :  장보고
휴대폰 :  010-1234-1003
나이 :  33
-------------------
--------------------
아이디 :  a104
이름 :  강감찬
휴대폰 :  010-1234-1004
나이 :  43
-------------------
--------------------
아이디 :  a105
이름 :  이순신
휴대폰 :  010-1234-1005
나이 :  53
-------------------
--------------------
아이디 :  a201
이름 :  김유신
휴대폰 :  None
나이 :  25
-------------------
--------------------
아이디 :  a301
이름 :  킹왕짱
휴대폰 :  010-9234-9512
나이 :  15
-------------------
select 완료...